@import "../../sass/variables";

form input,
form select,
form option,
form textarea {
  font-family: "Carrois Gothic", sans-serif;
}

form {
  width: 100%;
  height: 100%;
}

fieldset {
  border: none;
  margin: 0.5rem;
}

label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
  display: block;
  margin: 1.5rem 0.5rem 0 1rem;
}

form input,
textarea,
select {
  padding: 1rem;
  border: none;
  box-shadow: $box-shadow;
  min-height: 30px;
  width: 96%;
  margin: 0.5rem 2.5%;
  font-size: 1.4rem;
}

form input[type="submit"] {
  margin: 0;
}

.radio-list-container {
  display: flex;
}

.radio-input-container {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.radio-input-container--extra-margin {
  margin-left: 1.2rem;
}

form input[type="radio"] {
  width: 2rem;
  margin-right: 0.5rem;
  box-shadow: none;
  background-color: none;
  cursor: pointer;
}

form textarea {
  max-width: 96%;
  padding: 1rem;
  line-height: 1.5;
  min-height: 80px;
  resize: none;
}

form select {
  cursor: pointer;
}
