form input,
form select,
form option,
form textarea {
  font-family: "Carrois Gothic", sans-serif;
}

form {
  width: 100%;
  height: 100%;
}

fieldset {
  border: none;
  margin: 0.5rem;
}

label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4rem;
  display: block;
  margin: 1.5rem 0.5rem 0 1rem;
}

form input,
textarea,
select {
  padding: 1rem;
  border: none;
  box-shadow: 0 0 15px rgb(207, 207, 207);
  min-height: 30px;
  width: 96%;
  margin: 0.5rem 2.5%;
  font-size: 1.4rem;
}

form input[type="submit"] {
  margin: 0;
}

.radio-list-container {
  display: flex;
}

.radio-input-container {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.radio-input-container--extra-margin {
  margin-left: 1.2rem;
}

form input[type="radio"] {
  width: 2rem;
  margin-right: 0.5rem;
  box-shadow: none;
  background-color: none;
  cursor: pointer;
}

form textarea {
  max-width: 96%;
  padding: 1rem;
  line-height: 1.5;
  min-height: 80px;
  resize: none;
}

form select {
  cursor: pointer;
}

// styling for the level up form
.abilities-title-on-level-up-form {
  // font-size: 1.8rem;
  text-transform: uppercase;
  // font-weight: bold;
  margin-left: 0.5rem;
  background-color: $color-black;
  color: $color-white;
  padding: 0.5rem;
  width: 100%;
}

.abilities-details-on-level-up-form {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  padding-bottom: 1rem;
  border-bottom: 5px solid $color-dark-purple;
  margin-bottom: 1rem;
}

.radio-input-container--levelup-form {
  margin-left: 1rem;
}
