table,
th,
td {
  padding: 0.5rem 2rem;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  margin: 1rem;
}

th {
  font-size: 1.4rem;
}

table input {
  width: 50px;
}

.td--fixedwidth {
  padding: 0;
  width: 10rem;
}

.th--first {
  padding-left: 0;
  text-align: left;
}

.skills-table {
  margin-left: 0;
  padding-left: 0;
  border-collapse: separate;
  border-spacing: 1rem;
  .td--fixedwidth {
    vertical-align: middle;
    width: 10rem;
    &::after {
      visibility: hidden;
    }
  }
  th {
    width: 8rem;
    padding: 0;
    //text-align: left;
    //padding-left: 0;
  }
  td {
    padding: 0;
    width: 8rem;
    text-align: middle;
    position: relative;

    div {
      height: 0.8rem;
      background-color: lighten($color-gray, 40%);
      margin: 1rem -1rem 1rem 0;
      transform: translateX(50%);
    }
    div.filled {
      background-color: $color-light-yellow;
    }
  }
  &__last {
    display: none;
  }
  span {
    content: "";
    z-index: 500;
    display: block;
    width: 2rem;
    height: 2rem;
    border: 2px solid lighten($color-gray, 35%);
    background-color: $color-white-light;
    border-radius: 100%;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
  }
  span.filled {
    border: 2px solid $color-light-yellow;
    background-color: lighten($color-light-yellow, 15%);
  }
}

.skill-tokens-table {
  margin-bottom: 2rem;
  .td--fixedwidth {
    vertical-align: middle;
    width: 14rem;
  }
  td {
    padding: 0.5rem 0 1rem 0;
  }
  .skill-token {
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    border: 2px solid lighten($color-gray, 35%);
    background-color: $color-white-light;
    border-radius: 100%;
  }
  .skill-token.filled {
    border: 2px solid $color-light-yellow;
    background-color: lighten($color-light-yellow, 10%);
  }
}

.energy-points-table {
  .td--fixedwidth {
    vertical-align: middle;
  }
  .energy-point {
    display: inline-block;
    margin: 0 0.25rem;
    width: 2.25rem;
    height: 2.25rem;
    border: 2px solid $color-light-yellow;
    background-color: lighten($color-light-yellow, 10%);
    border-radius: 100%;
  }
  .energy-point.used {
    border: 2px solid lighten($color-gray, 35%);
    background-color: $color-white-light;
  }
}
