.note-title-div {
  cursor: pointer;
  border: 1px solid $color-grey-light-1;
  padding: 1rem;
  margin: 0.5rem 0;
  text-transform: uppercase;
  transition: all 0.5s;
  &:hover {
    border: 2px solid $color-light-yellow;
    letter-spacing: 0.2rem;
  }
  &--selected {
    border: 2px solid $color-light-yellow;
    letter-spacing: 0.2rem;
  }
}

.click-here {
  cursor: pointer;
  color: $color-light-yellow;
  &:hover {
    text-decoration: underline;
    color: darken($color-light-yellow, 5%);
  }
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.fixing-link-settings {
  text-decoration: none;
  color: $color-black;
  &:hover {
    color: $color-black;
  }
}
