.heading-bar {
  text-align: center;
  /*background: #00C5ED;*/
  /* border-bottom: 2px dashed #00C5ED; */
  color: black;
  padding: 1rem;
  min-height: 50px;
  margin: -2rem;
  margin-bottom: 2rem;
}
