.secondary-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  &__heading {
    text-transform: uppercase;
    font-size: 5.5rem;
    letter-spacing: 0.5rem;
    font-family: "Carrois Gothic", sans-serif;
    transform: translateY(-0.5rem);
  }
}

.page-container {
  width: 98%;
  margin: 0 auto;
  display: flex;
}

.cw {
  &__container {
    padding: 2rem 1rem;
  }
  &__25 {
    width: 24%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  &__50 {
    width: 49%;
    margin: 0 auto;
  }
  &__75 {
    width: 74%;
    margin: 0 auto;
  }
  &__100 {
    width: 99%;
    margin: 0 auto;
  }
}
