.header-bar {
  &__profile-button {
    position: fixed;
    right: 0;
    top: 0;
    padding: 2rem 4rem;
  }
  &__profile-img {
    border-radius: 100%;
    width: 5rem;
    cursor: pointer;
    box-shadow: 0 0 1.5rem $color-grey-light-2;
    &:hover {
      filter: brightness(0.6);
    }
  }
}

.header {
  background-image: url(../../assets/temp-background.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $color-grey-light-1;
  &__logotype {
    font-family: "Audiowide", cursive;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 6rem;
    color: $color-grey-dark-2;
  }
}

.container {
  width: 80%;
  margin: 4rem auto;
  display: flex;
  transition: 1s all;
}

.sheets-container {
  margin: 1rem 4rem;
}

.heading {
  background-color: $color-grey-dark-2;
  color: $color-white;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  text-align: center;
  border-bottom: 1px solid $color-grey-light-3;
}

.campaign-sheets {
  background-color: $color-white-light;
  width: 50%;
  transition: 1s all;
  margin-right: 1rem;
  border: 1px solid $color-grey-light-1;
}

.character-sheets {
  background-color: $color-white-light;
  width: 50%;
  transition: 1s all;
  border: 1px solid $color-grey-light-1;
}
