@import "../../sass/variables";

nav {
  width: 98%;
  margin: 1rem auto;
}

.sheet-navigation {
  border-top: 2px solid $main-background-color-dark;
  border-bottom: 2px solid $main-background-color-dark;
  padding: 0.5rem 0;
  color: $main-text-color-dark;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.sheet-navigation li {
  list-style-type: none;
  transition: all 0.5s;
  @media only screen and (max-width: 800px) {
    padding: 1rem;
  }
}

.active {
  z-index: 1;
  padding: 1rem;
  margin: -10px 0;
  width: 100%;
  height: 100%;
  background-color: $main-background-color-dark;
  color: $main-text-color-light !important;
  cursor: pointer;
  @media only screen and (max-width: 800px) {
    margin: 0;
  }
}

.sheet-navigation li:hover {
  z-index: 1;
  padding: 1rem;
  margin: -10px 0;
  width: 100%;
  height: 100%;
  background-color: $main-background-color-dark;
  color: $main-text-color-light;
  cursor: pointer;
}

.sheet-navigation a {
  color: $main-text-color-dark;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  text-align: center;
  height: 100%;
  width: 100%;
}
