.edit-delete {
  margin: 1.5rem 0 0 0;
  border-top: 1px solid $color-grey-light-1;
  padding: 1rem 0 0 0;

  &__p {
    color: $color-grey-light-2;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  &__p--right {
    text-align: right;
  }

  &__link {
    padding: 0 1rem;

    &:hover {
      text-decoration: underline;
      color: $color-grey-dark-1;
      color: $color-light-yellow;
    }
  }
}
