.flash-message {
  position: sticky;
  bottom: 10px;
  left: 10px;
  max-width: 50rem;
  min-height: 5rem;
  opacity: 0.85;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //display: none;

  &__message {
    color: $color-white;
    //display: inline-block;
  }

  &__close-button {
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__dismiss {
    font-size: 5rem;
    line-height: 0;
    color: lighten($color-gray, 25%);
    &:hover {
      color: lighten($color-gray, 50%);
    }
  }
}
