.header-button {
  display: none;
  max-width: 50%;
  background: none;
  color: black;
  font-size: 2rem;
  text-transform: uppercase;
  border: none !important;
  padding: 2rem;
  min-height: 40px;
  margin: 0;
  transition: all 0.3s;
}

.header-button:hover {
  /* border: 4px solid #00C5ED !important; */
  background: none;
  transform: translateY(-1px);
}

header {
  color: black;
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 120px;
}
