.header-bar {
  &__profile-button {
    position: fixed;
    right: 0;
    top: 0;
    padding: 3rem 4rem;
    &--static {
      position: absolute;
    }
    @media only screen and (max-width: 900px) {
      padding: 2rem;
    }
  }
  &__profile-img {
    border-radius: 100%;
    width: 5rem;
    cursor: pointer;
    box-shadow: 0 0 1.5rem $color-grey-light-2;
    &:hover {
      filter: brightness(0.6);
    }
  }
  &__home-button {
    position: absolute;
    width: 13rem;
    left: 0;
    top: 0;
    padding: 3rem 4rem;
    transition: all 0.5s;
    transform-origin: center center;
    &:hover {
      transform: scale(1.3) rotateX(360deg);
    }
    @media only screen and (max-width: 900px) {
      padding: 2rem;
    }
  }
  &__home-img {
    width: 6rem;
    // @media only screen and (max-width: 850px) {
    //   width: 8rem;
    // }
  }
  &__about-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    margin: 3rem 4rem;
    top: 0;
    right: 0;
    @media only screen and (max-width: 900px) {
      margin: 2rem;
    }
  }
  &__about-img {
    color: darken($color-white, 10%);
    font-size: 2rem;
    line-height: 1.2;
    font-weight: bold;
    width: 3rem;
    height: 3rem;
    text-align: center;
    border-radius: 100%;
    border: 4px solid darken($color-white, 10%);
    transition: all 0.4s;
    &:hover {
      color: $color-light-yellow;
      border: 4px solid $color-light-yellow;
      transform: scale(1.5);
    }
  }
}

.header {
  background-image: url(../assets/bg4.png);
  &--purple {
    background-image: url(../assets/bg3.png);
  }
  &--blue {
    background-image: url(../assets/bg2.png);
  }
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $color-grey-light-1;
  min-height: 12rem;
  @media only screen and (max-width: 900px) {
    padding-right: 0;
  }
  &__logotype {
    font-family: "Audiowide", cursive;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 6rem;
    text-align: center;
    color: darken($color-white, 10%);
    @media only screen and (max-width: 1000px) {
      font-size: 5rem;
      letter-spacing: 0.3rem;
    }
    @media only screen and (max-width: 850px) {
      max-width: 70%;
      padding-top: 2rem;
      margin-bottom: 2rem;
    }
    @media only screen and (max-width: 600px) {
      max-width: 80%;
      font-size: 4rem;
    }
    @media only screen and (max-width: 400px) {
      max-width: 70%;
      font-size: 3rem;
    }
  }
}
