.item-container {
  background-color: $color-white-light;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 1rem 0;
  padding: 1rem;
  transition: all 0.2s;
  border: 2px solid transparent;
  overflow: hidden;
  &--overflowx {
    @media only screen and (max-width: 1000px) {
      overflow-x: scroll;
    }
  }
  &--hover-highlight {
    cursor: pointer;
    &:hover {
      border: 2px solid $color-light-yellow;
    }
  }
  &--blacked-out {
    cursor: default;
    background-color: $color-grey-dark-2;
    &:hover {
      transform: translateY(0);
    }
  }
  &--greyed-out {
    cursor: default;
    background-color: $color-grey-dark-1;
  }
  &__heading {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: $color-white;
    background-color: $color-grey-dark-2;
    padding: 1rem 2rem;
    margin: -1rem -1rem 1rem -1rem;
    &--blacked-out {
      color: $color-grey-dark-2;
    }
  }
  &__subheading {
    color: $color-black;
    background-color: $color-light-purple;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    &--topmargin {
      margin: 2.5rem 0;
      padding-left: 1rem;
    }
    &--lighter {
      background-color: $color-grey-bg;
    }
    &--blacked-out {
      background-color: $color-grey-dark-2;
    }
    &--greyed-out {
      background-color: darken($color-light-purple, 50%);
    }
    &--blue {
      background-color: $color-light-blue;
    }
    &--darker {
      background-color: $color-white-light;
      display: inline;
      color: $color-black;
      font-weight: bold;
      padding-left: 1rem;
      padding-right: 1rem;
      position: relative;
      z-index: 501;

      // border-bottom: 1px solid lighten($color-gray, 10%);
      // border-top: 1px solid lighten($color-gray, 10%);
    }
  }
  &__line {
    z-index: 500;
    position: relative;
    display: block;
    height: 2px;
    transform: translateY(400%);
    width: 100%;
    background-color: $color-black;
  }
  &__terheading {
    margin: 0.3rem 0;
    color: $color-black;
    background-color: $color-pale-yellow;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    &--blue {
      background-color: $color-light-blue;
    }
    &--adjusted {
      margin: 1rem 0 2rem 0;
    }
  }
  &__select-label {
    font-size: 1.4rem;
    padding: 2rem 1rem 0.2rem 0.8rem;
    margin: 0;
  }
  &__select {
    margin-bottom: 2rem;
  }
  &__money-amount {
    padding: 1.5rem 2.5rem 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
  }
}

// .delete-button {
//   text-align: center;
//   margin-bottom: -1rem;
//   background: rgb(235, 118, 118);
//   margin-top: 2rem;
//   cursor: pointer;
//   transition: all 0.4s;
// }

// .gray {
//   cursor: not-allowed;
//   background: rgb(168, 168, 168);
// }
// .delete-button:hover {
//   box-shadow: 0 -1px 4px rgb(151, 151, 151);
//   background: red;
//   margin: 2rem -13px -10px -13px;
// }

// .gray:hover {
//   box-shadow: none;
//   background: rgb(168, 168, 168);
//   margin: 2rem -10px -10px -10px;
// }

// .header__h2--link {
//   background: none;
//   color: black;
//   cursor: pointer;
//   padding: 0.5rem;
//   transition: all 0.5s;
// }

// .header__h2--link:hover {
//   background: whitesmoke;
//   color: black;
//   padding: 2rem;
//   box-shadow: 0 0 10px rgb(156, 156, 156);
// }
