.popupform {
  &__background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__popup {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    //transform: translateX(400px);
    width: 400px;
    box-shadow: 0 0 10rem $color-black;
    z-index: 1001;
    background-color: $color-dark-purple;
    transition: transform 0.2s ease-in-out;
    overflow-y: hidden;
    padding-top: 5rem;
    padding-bottom: 6rem;
    &--whitebg {
      background-color: $color-white;
    }
    @media only screen and (max-width: 900px) {
      width: 90%;
      margin-right: 3%;
    }
    @media only screen and (max-width: 500px) {
      width: 100%;
      margin: 0;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }

  // &__popup.activated {
  //   transform: translateX(0);
  // }

  &__heading {
    position: absolute;
    top: 0;
    left: 0;
    color: $color-white;
    background-color: $color-black;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 1.3rem 0;
    border-bottom: 1px solid lighten($color-gray, 15%);
  }

  &__button-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $color-white;
    width: 100%;
    padding: 1.5rem 0;
    border-top: 1px solid lighten($color-gray, 15%);
    display: flex;
    justify-content: space-around;
  }

  &__submit-button,
  &__close-button {
    cursor: pointer;
    font-family: "Carrois Gothic", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
    width: 45%;
    padding: 1rem 2rem;
    border: 0;
    border-radius: 0;
    border: 2px solid $color-black;
    transition: all 0.4s ease-in-out;
  }

  &__submit-button {
    background-color: $color-black;
    color: $color-white;
    &:hover {
      background-color: $color-white;
      color: $color-black;
      box-shadow: 0 0 10px lighten($color-gray, 20%);
    }
    &:active {
      outline: none;
      transform: scale(0.9);
      box-shadow: 0 0 10px lighten($color-gray, 15%);
    }
    &--adjustwidth {
      width: 95%;
      font-size: 1.4rem !important;
      padding: 0.5rem 1rem !important;
      margin: 1rem 1.5rem 2.5% !important;
    }
  }

  &__close-button {
    background-color: $color-white;
    color: $color-black;
    &:hover {
      background-color: $color-black;
      color: $color-white;
    }
    &:active {
      outline: none;
      transform: scale(0.9);
      box-shadow: 0 0 10px lighten($color-gray, 15%);
    }
    &--fullwidth {
      width: 95%;
    }
  }

  &__form {
    overflow-y: scroll;
    background-color: $color-white;
    width: 100%;
    height: 100%;
    padding-bottom: 2rem;
  }
}
