@import "../../sass/variables";

.sheets-secondary-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  &__heading {
    text-transform: uppercase;
    margin: 0;
    font-size: 5.5rem;
    letter-spacing: 0.5rem;
    font-family: "Carrois Gothic", sans-serif;
    transform: translateY(-0.5rem);
    color: $main-text-color-dark;
  }
}
