@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Carrois+Gothic&family=Carrois+Gothic+SC&display=swap");

@import "./sass/variables";
@import "./sass/animations";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: "Carrois Gothic", sans-serif;
  font-weight: 400;
  background-color: $app-background-color;
  color: $app-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-family: "Carrois Gothic SC", sans-serif;
}

p {
  line-height: 1.5;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.actions-div {
  padding-top: 1rem;
}

.actions {
  cursor: pointer;
  color: lighten($color-gray, 30%);
  text-align: right;
  margin-bottom: 0 !important;
  &--equipped-inventory-items-display {
    margin-top: -3rem !important;
    margin-bottom: 1rem !important;
  }
  span {
    &.true {
      color: $main-text-color-dark;
    }
  }
}

.equipped-inventory-items-display {
  border-bottom: 1px solid $hr-color;
  &:first-of-type {
    border-top: 1px solid $hr-color;
  }

  padding: 0.5rem 0;
}
