@import "../../sass/variables";

.sign-in-and-sign-up {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: $main-background-color-light;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 2rem 2rem 2rem;
  }

  &__header-logo {
    height: 7rem;
  }

  &__form {
    min-width: 30vw;
    background-color: $main-background-color-light;
    //border: 1px solid rgb(197, 197, 197);
    box-shadow: $box-shadow;
    padding: 4rem 5rem;
  }

  &__form-footer-text {
    text-align: center;
    font-size: 1.4rem;
    margin: 2rem 1rem 0 1rem;
  }

  &__form-footer-link {
    cursor: pointer;
    color: $link-color;
    &:hover {
      text-decoration: underline;
    }
  }

  &__footer {
    padding: 2rem 3rem;
    display: flex;
    justify-content: center;
  }

  &__footer-text {
    text-align: center;
    font-size: 1.3rem;
    color: rgb(100, 100, 100);
  }
}
