@import "../../sass/variables";

.container {
  width: 80%;
  margin: 4rem auto;
  display: flex;
  transition: 1s all;
  @media only screen and (max-width: 900px) {
    flex-direction: column;
    margin: 2rem auto;
    width: 90%;
  }
  @media only screen and (max-width: 600px) {
    width: 95%;
  }
}

.sheets-container {
  margin: 1rem 4rem;
  @media only screen and (max-width: 900px) {
    margin: 1rem;
  }

  .sheets-card-link {
    text-decoration: none;
    color: black;
  }
}

.heading {
  background-color: $color-grey-dark-2;
  color: $color-white;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  text-align: center;
  border-bottom: 1px solid $color-grey-light-3;
}

.campaign-sheets {
  width: 50%;
  transition: 1s all;
  margin-right: 1rem;
  border: 1px solid $color-grey-light-1;
  padding-bottom: 3rem;
  @media only screen and (max-width: 900px) {
    width: 99%;
    margin-bottom: 4rem;
  }
}

.character-sheets {
  width: 50%;
  transition: 1s all;
  border: 1px solid $color-grey-light-1;
  @media only screen and (max-width: 900px) {
    width: 99%;
  }
}
