<div className="attack item-container">
  <h6>Attack</h6>
  <h5>Which weapon are you using?</h5>
  <select>
    <option>Choose Weapon</option>
    <option>#1</option>
    <option>#2</option>
  </select>

  <h5>Roll the Die</h5>
  <button>Roll</button>
  <p>You rolled: <span>7</span></p>
  <p>After Modifier: <span>12</span></p>
  <h4>Modifier(s) Used: <span>Climb</span></h4>
</div>

<div className="use-ability item-container">
  <h6>Use Ability</h6>
  <h5>Which ability are you using?</h5>
  <select>
    <option>Choose Race Ability</option>
    <option>#1</option>
    <option>#2</option>
  </select>
  <select>
    <option>Choose Class Ability</option>
    <option>#1</option>
    <option>#2</option>
  </select>
  <select>
    <option>Choose Character Ability</option>
    <option>#1</option>
    <option>#2</option>
  </select>

  <h5>Roll the Die</h5>
  <button>Roll</button>
  <p>You rolled: <span>7</span></p>
  <p>After Modifier: <span>12</span></p>
  <h6>Modifier(s) Used: <span>Climb</span></h6>
</div>

<div className="pay-money item-container">
  <h6>Pay Money</h6>
  <h5>Who are you paying?</h5>
  <select>
    <option>Choose Player</option>
    <option>DM</option>
    <option>Player 1</option>
    <option>Player 2</option>
    <option>Player 3</option>
  </select>
  <h5>How much are you paying?</h5>
  <input type="number" /> <br />
  <button>Pay <span>(recipient)</span> <span>(amount)</span> Gold</button>
</div>

<div className="sell-items item-container">
  <h6>Give Items</h6>
  <h5>Which item are you giving?</h5>
  <select>
    <option>Choose Weapon</option>
    <option>#1</option>
    <option>#2</option>
  </select>
  <select>
    <option>Choose Armour</option>
    <option>#1</option>
    <option>#2</option>
  </select>
  <select>
    <option>Choose Items</option>
    <option>#1</option>
    <option>#2</option>
  </select>

  <h5>Who are you giving it to?</h5>
  <select>
    <option>Choose Player</option>
    <option>DM</option>
    <option>Player 1</option>
    <option>Player 2</option>
    <option>Player 3</option>
  </select>

  <button>Give <span>(item)</span> to <span>(recipient)</span></button>
</div>
